@import url('headermenu.css');
@import url('ozet.css');
@import url('sertifikalar.css');
@import url('calismalar.css');
@import url('akedemik-yayinlar.css');
@import url('basarilar.css');
@import url('etkinlikler.css');
@import url('iletisim.css');
@import url('footer.css');
@import url('aside.css');
@import url('cv.css');
