.language-switcher {
    position: fixed;
    top: 120px; 
    right: 10px;
    display: flex;
    gap: 8px;
    z-index: 9999;
    padding: 5px;
}

  
  .language-switcher button {
    padding: 8px 12px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .language-switcher button:hover {
    background-color: #555;
  }
  
  /* Tablet uyumluluğu */
 @media (max-width: 768px) {
  .language-switcher {
    top: 130px; 
    right: 8px;
    flex-direction: row;
  }

  .language-switcher button {
    padding: 7px 10px;
    font-size: 13px;
  }
}

  /* Mobil uyumluluğu */
 @media (max-width: 480px) {
  .language-switcher {
    top: 130px;
    right: 5px;
    flex-direction: column;
  }

  .language-switcher button {
    padding: 6px 8px;
    font-size: 12px;
  }
}

  